<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/programs.css">

    <title>Программы | Training Athletix</title>
</head>
<body>
<div class="navi">
    <nav class="navbar navbar-expand-sm navbar-custom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
            <i class="fa fa-bars fa-lg py-1 text-white"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbarCustom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Домашняя</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/record">Индивидуальные занятия</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Программы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Профиль</a>
                </li>
            </ul>
            <!--                        <span class="ml-auto navbar-text">Text</span>-->
        </div>
    </nav>
</div>
<section></section>
<div class="all-workouts">

<div class="training-container">
<pre class="training">
20 min Amrap
15/12 Cal. Ski
15 Push Ups
15 GHD's
</pre>
</div>
<div class="training-container">
<pre class="training">
For Time:
50 Wall Balls (20/14)
20 KB Swings (1.5/1)
35 Wall Balls (20/14)
35 KB Swings (1.5/1)
20 Wall Balls (20/14)
50 KB Swings (1.5/1)
</pre>
</div>
<div class="training-container">
<pre class="training">
Teams of 2
2000m Row
100 Burpee Box Jump Overs (24/20)
2000m Row
</pre>
</div>
    <div class="training-container">
<pre class="training">
4 Rounds
1000m Bike Erg
25 Power Snatch (95/65)
</pre>
    </div>
    <div class="training-container">
<pre class="training">
For Time:
150 Push Ups (Only rest in the Plank)
* Start with 10 GHD's, every time you break, and finish*
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Metcon (10 Rounds for time)

10 rds
400m Run
- rest 1 min-
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Metcon (Time)

" 12 Days of Christmas "

1 Muscle Up
2 Power Snatch (135/95)
3 OVHS (135/95)
4 Bar Facing Burpees
5 Box Jumps (30/24)
6 SHSPU
7 T2B
8 Hang DB Cleans (50/35)
9 Ring Dips
10 GHD's
11 Pull Ups
12(00) m row

*Like the song the "12 Days of Christmas,"
complete each exercise in ascending order then work back down to 1,
adding one exercise per round. Like this: 1, then 2-1, then 3-2-1,
then 4-3-2-1, etc. – all the way to 12-11-10-9-8-7-6-5-4-3-2-1.
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Metcon (Time)

" The Nightmare Before Christmas "

For Time:
24/18 Cal. Assault Bike
24 Power Cleans (135/95)
24/18 Cal. Assault Bike
24 Shoulder to Over Head (135/95)
24/18 Cal. Assault Bike
24 Clean and Jerks (135/95)
24/18 Cal. Assault Bike
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Metcon (AMRAP - Rounds)

Every min ( 8 rds)
Min 1 - 18/14 Cal. Row
Min 2 -  50 Double Unders
Min 3 - 18 Wall Balls (20/14)
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Metcon

For Time:

1000m Ski Erg

75 Bench Press (135/95)

* Every time you break perform 2 rope climbs *
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Shoulder Press (1RM)

Metcon (Time)

"Jacob Morris "

50 Wall Balls (20/14)

40/30 Cal. Ski

30 DB Snatch (50/35) 20

Box Jump Overs (24/20)

 15 Bar Muscle Ups
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Deadlift (1RM)

Metcon (Time)

For Time:

800m Run

400m Sand Bag Carry (150/100)

800m Run
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Deadlift (1RM)

Metcon (Time)

For Time:

800m Run

400m Sand Bag Carry (150/100)

800m Run
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Bench Press (1RM)

Metcon (Time)

For Time:

1000m Row

50 Burpee Over Rower

1000m Row
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Front Squat (1RM Max)

Metcon (4 Rounds for reps)

4 sets

5 min Amrap

30 Wall Balls (20/14)

25/20 Cal. Row

20 GHD's

Max Single Arm DB Shoulder to Overhead (70/50) *

- rest 3 mins -

* Alternate every 5 reps *
1000m Row
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Liam (Time)

For time:
Run 800 meters with a 45-lb. plate
100 toes-to-bars
155-lb. front squats, 50 reps
15-ft. rope climbs, 10 ascents
Run 800 meters with a 45-lb. plate

Partition the toes-to-bars, front squats and rope climbs as needed. Start and finish with the run.U.S. Army Sgt. 1st Class Liam J. Nevins, 32, of Middlebury, Vermont, was killed by small arms fire while conducting combat operations in Paktia Province, Afghanistan, on Sept. 21, 2013. Nevins was assigned to Operational Detachment Alpha 9521, Bravo Company, 5th Bn., 19th Special Forces Group, based in Fort Carson, Colorado.

His friends remember him as a cut above when it came to fitness. He enjoyed hiking and running outdoors, as well as the full gamut of CrossFit movements, from Olympic lifting to gymnastics.

He is survived by his mother, Victoria; father, William; fiancée, Julie Huynh; and sisters, Maeve and Raven.
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Deadlift (6x2 @80%)

Shoulder Press (6x2 @80%)

Metcon (Time)

3 rds
500m Run
30 KB Swings (1.5/1)
30 GHD's
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Hang Power Snatch (1 Rep Max)

12 Mins

Metcon (3 Rounds for time)

Teams of 2

@ 8:00
100/80Cal. Row
30 Syncro Bar Facing Burpees

@ 16:00
100/80 Cal. Ski
30 Syncro BFB

@24:00
100/80Cal. Assault Bike
30 Syncro BFB

* 7 min Time Cap each workout, Split calories up as needed*
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Front Squat (6x2 @80%)

Bench Press (6x2 @80%)

Metcon (Time)

For Time:
50 Yd Sled Push (3x45/2x45)
50 Slam Balls (50/30)
50 Yd Sled Push
35 Slam Balls
50 Yd Sled Push
20 Slam Balls
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Squat Clean (1 Rep Max)

12 mins

Metcon (2 Rounds for reps)

5 min Amrap
Max Cal. Assault Bike
- into -
10 min Amrap
5 Pull Ups
10 Push Ups
15 Air Squats
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Strength

Squat Clean (1 Rep Max)

12 mins

Metcon (2 Rounds for reps)

5 min Amrap
Max Cal. Assault Bike
- into -
10 min Amrap
5 Pull Ups
10 Push Ups
15 Air Squats
</pre>
    </div>
    <div class="training-container">
<pre class="training">
Bell (Time)

3 Rounds for time of:
21 Deadlifts, 185#
15 Pull-ups
9 Front Squats, 185#In honor of Air Force Senior Airman Bryan R. Bell,
23, of Erie, Pennsylvania, died January 5, 2012
</pre>
    </div>

</div>
</body>
</html>