
<link href="https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="/css/activeuser.css">
{{# if isConfirm}}
    <div class="menu-btn">
        <button class="btn" onclick="window.location.href='/sign'">Назад</button>
    </div>
    <body>
    <section class="user">
        <div class="user_options-container">
            <div class="user_options-forms" id="user_options-forms">
                <div class="user_forms-login">
                    <h2 class="forms_title">Введите свой Email</h2>
                    <form class="forms_form" action="/newPass" method="POST">
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input type="text" placeholder="Phone num" class="forms_field-input" name="phoneNum" required autofocus />
                            </div>
                            <div class="forms_field">
                                <input type="text" placeholder="secret key" class="forms_field-input" name="secretKey" required autofocus />
                            </div>
                            <div class="forms_field">
                                <input type="text" placeholder="New pass" class="forms_field-input" name="newPassword" required autofocus />
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <input type="submit" value="Сбросить пароль" class="forms_buttons-action">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script  src="js/index.js"></script>
    </body>
    {{else}}

     <div class="menu-btn">
        <button class="btn" onclick="window.location.href='/sign'">Назад</button>
    </div>
    <body>
    <section class="user">
        <div class="user_options-container">
            <div class="user_options-forms" id="user_options-forms">
                <div class="user_forms-login">
                    <h2 class="forms_title">Введите свой Email</h2>
                    <form class="forms_form" action="/resetPass" method="POST">
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input type="text" placeholder="Name" class="forms_field-input" name="name" required  />
                            </div>
                            <div class="forms_field">
                                <input type="email" placeholder="Email" class="forms_field-input" name="email" required  />
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <input type="submit" value="Получить ключ" class="forms_buttons-action">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script  src="js/index.js"></script>
    </body>

{{/if}}

