

<div class="signUp">
    <link  href="/css/reset.css" rel="stylesheet">
    <div class="class-header">Восстановление пароля</div>
<div class="card-body">
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
    <form action="/reset" method="POST">
        <div class="container">

            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Введите Email" name="email" class="validate" required>
            <button type="submit" class="signupbtn">Send msg on email</button>

            <label for="secret"><b>Secret token</b></label>
            <input type="secret" placeholder="Введите ключ, из email" name="secret" class="validate" required>

            <div>
                <button onclick="window.location.href='/'" class="cancelbtn">Back</button>
                <button type="submit" class="signupbtn">Delet password</button>
            </div>
        </div>
    </form>
</div>
</div>



